<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/about">Hakkımızda</a></li>
                <li><a href="/project">Projemiz</a></li>
            </ul>
        </nav>
    </header>
    <div id="about" class="section content-section">
        <div class="content-container">
            <h2>Biz Kimiz?</h2>
            <p>Hukuki Asistan ekibi olarak, hukuki danışmanlık ve bilgi sağlama konusunda uzmanlaşmış bir grubuz. Amacımız, kullanıcılarımızın hukuki sorularına hızlı ve doğru cevaplar sunmaktır.</p>
            <img src="{{ url_for('static', filename='team.jpg') }}" alt="Ekibimiz" class="content-image">
        </div>
    </div>
</body>
</html>
