<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
</head>
<body class="dark-background">
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/about">Hakkımızda</a></li>
                <li><a href="/project">Projemiz</a></li>
            </ul>
        </nav>
    </header>

    <div class="chat-container">
        <div class="sidebar">
            <div class="logo">
                <video id="talkingHeadVideo" class="talking-head rounded-frame" muted aria-label="Talking head video">
                    <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <button class="reset-button" onclick="resetMemory()" aria-label="Reset Memory">Belleği Sıfırla</button>
        </div>
        <div class="chat-content">
            <div class="chat-header">
                <h1>Mindlaw - Türkiye'nin Hukuk Chatbotu</h1>
            </div>
            <div class="chat-box" id="chatBox">
                <div class="messages" id="messages">
                    {% if question and answer %}
                    <div class="message user-message">
                        <span class="message-text">{{ question }}</span>
                    </div>
                    <div class="message bot-message">
                        <span class="message-text" id="botMessageText">{{ answer }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="chat-input-container">
                <form id="chat-form" method="POST" style="display: flex; width: 100%;" onsubmit="handleFormSubmit(event)">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <textarea class="chat-input" name="question" placeholder="Bir soru sor..."></textarea>
                    <button type="submit" aria-label="Send">&#x27A4;</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        let isSpeaking = false;
        let videoInterval;

        function handleFormSubmit(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            const userMessageText = form.querySelector('.chat-input').value;

            if (userMessageText.trim() === "") {
                return; // Do not send empty messages
            }

            addUserMessage(userMessageText);
            showTypingIndicator();

            fetch(form.action, {
                method: form.method,
                body: formData,
            })
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const answer = doc.getElementById('botMessageText').textContent;

                setTimeout(() => {
                    removeTypingIndicator();
                    addBotMessage(answer);
                }, 3000); // 3 seconds typing indicator delay
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Mesaj gönderilirken bir sorun çıktı');
                removeTypingIndicator();
            });

            form.querySelector('.chat-input').value = ''; // Clear the input field
        }

        function addUserMessage(message) {
            const messagesContainer = document.getElementById('messages');
            const userMessage = document.createElement('div');
            userMessage.className = 'message user-message';
            userMessage.innerHTML = `<span class="message-text">${message}</span>`;
            messagesContainer.appendChild(userMessage);
            scrollToBottom();
        }

        function showTypingIndicator() {
            const messagesContainer = document.getElementById('messages');
            const typingIndicator = document.createElement('div');
            typingIndicator.className = 'message bot-message typing-indicator';
            typingIndicator.innerHTML = 'Chatbot Yazıyor<span class="dot"></span><span class="dot"></span><span class="dot"></span>';
            messagesContainer.appendChild(typingIndicator);
            scrollToBottom();
        }

        function removeTypingIndicator() {
            const typingIndicator = document.querySelector('.typing-indicator');
            if (typingIndicator) {
                typingIndicator.parentNode.removeChild(typingIndicator);
            }
        }

        function addBotMessage(message) {
            const messagesContainer = document.getElementById('messages');
            const botMessage = document.createElement('div');
            botMessage.className = 'message bot-message';
            botMessage.innerHTML = `<span class="message-text">${message}</span>`;
            messagesContainer.appendChild(botMessage);
            scrollToBottom();
            const video = document.getElementById('talkingHeadVideo');
            if (video) {
                video.play();
                video.loop = false;
                speakText(message, video);
            }
        }

        function scrollToBottom() {
            const chatBox = document.getElementById('chatBox');
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        function resetMemory() {
            fetch('/reset', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    document.getElementById('messages').innerHTML = '';
                    document.getElementById('chat-form').reset();
                    alert("Bellek Sıfırlandı");
                } else {
                    alert("Bellek Sıfırlanırken Bir Sorun Çıktı");
                }
            });
        }

        function speakText(text, video) {
            const speech = new SpeechSynthesisUtterance(text);
            speech.lang = 'tr-TR';

            speech.onstart = () => {
                isSpeaking = true;
                if (video) {
                    video.play();
                    videoInterval = setInterval(() => {
                        if (!isSpeaking) {
                            clearInterval(videoInterval);
                            video.pause();
                            video.currentTime = 0;
                        } else if (video.ended) {
                            video.play();
                        }
                    }, 1000); // Check every second
                }
            };

            speech.onend = () => {
                isSpeaking = false;
                if (video) {
                    clearInterval(videoInterval);
                    video.pause();
                    video.currentTime = 0;
                }
            };

            window.speechSynthesis.speak(speech);
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const botMessage = document.querySelector('.bot-message .message-text');
            if (botMessage) {
                const video = document.getElementById('talkingHeadVideo');
                if (video) {
                    video.play();
                    video.loop = false;
                }
                scrollToBottom();
            }
        });
    </script>
</body>
</html>
