<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projemiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/about">Hakkımızda</a></li>
                <li><a href="/project">Projemiz</a></li>
            </ul>
        </nav>
    </header>
    <div id="project" class="section content-section">
        <div class="content-container">
            <h2>MindLaw Nedir ?</h2>
            <p>MindLaw Türk hukuku üzerine Renicames ekibi ile oluşturduğumuz  14,854 veri barındıran bir hukuk soru-cevap veri setiyle eğitilmiş bir hukuk chatbotudur. Avukat danışmanlık hizmetine erişimin zorluğu ve pahalılığı, kişilerin kendi hak ve özgürlükleri hakkında doğru bilgiye erişiminin zor olması, Ülkemizde hukuk üzerine yapılmış açık chatbot veri setinin bulunmaması bu projenin yapılmasındaki temel motivasyondur.</p>

        <p>
        </p>

        <p>Bu proje, Türkiye'de hukuki alanda yapay zekanın kullanımını ilerletmek için geliştirilmiştir, hem kullanıcılar için pratik bir araç hem de geliştiriciler için açık kaynak bir veri seti sağlamaktadır.</p>

        </div>
    </div>
</body>
</html>
